Efirm/Efirm/Service References/WSEfirm_Contribuyente/Ws_Contribuyente1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1601/Ws_Contribuyente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FirmElect.Info" />
  <xs:element name="GetContribuyente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="cedulaRuc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MensajeErrorOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContribuyenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FirmElect.Info" minOccurs="0" name="GetContribuyenteResult" nillable="true" type="q1:ArrayOftb_Contribuyente_Info" />
        <xs:element minOccurs="0" name="MensajeErrorOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContribuyente_Info">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="cedulaRuc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MensajeErrorOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContribuyente_InfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FirmElect.Info" minOccurs="0" name="GetContribuyente_InfoResult" nillable="true" type="q2:tb_Contribuyente_Info" />
        <xs:element minOccurs="0" name="MensajeErrorOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modificar_GetContribuyente_Info">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="cedulaRuc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MensajeErrorOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modificar_GetContribuyente_InfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Modificar_GetContribuyente_InfoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="MensajeErrorOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>