Efirm/Efirm/Service References/WSEfirm_Contribuyente/Ws_Contribuyente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Ws_Contribuyente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1601/Ws_Contribuyente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1601/Ws_Contribuyente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1601/Ws_Contribuyente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FirmElect.Info" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWs_Contribuyente_GetContribuyente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContribuyente" />
  </wsdl:message>
  <wsdl:message name="IWs_Contribuyente_GetContribuyente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContribuyenteResponse" />
  </wsdl:message>
  <wsdl:message name="IWs_Contribuyente_GetContribuyente_Info_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContribuyente_Info" />
  </wsdl:message>
  <wsdl:message name="IWs_Contribuyente_GetContribuyente_Info_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContribuyente_InfoResponse" />
  </wsdl:message>
  <wsdl:message name="IWs_Contribuyente_Modificar_GetContribuyente_Info_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_GetContribuyente_Info" />
  </wsdl:message>
  <wsdl:message name="IWs_Contribuyente_Modificar_GetContribuyente_Info_OutputMessage">
    <wsdl:part name="parameters" element="tns:Modificar_GetContribuyente_InfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IWs_Contribuyente">
    <wsdl:operation name="GetContribuyente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWs_Contribuyente/GetContribuyente" message="tns:IWs_Contribuyente_GetContribuyente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWs_Contribuyente/GetContribuyenteResponse" message="tns:IWs_Contribuyente_GetContribuyente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContribuyente_Info">
      <wsdl:input wsaw:Action="http://tempuri.org/IWs_Contribuyente/GetContribuyente_Info" message="tns:IWs_Contribuyente_GetContribuyente_Info_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWs_Contribuyente/GetContribuyente_InfoResponse" message="tns:IWs_Contribuyente_GetContribuyente_Info_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar_GetContribuyente_Info">
      <wsdl:input wsaw:Action="http://tempuri.org/IWs_Contribuyente/Modificar_GetContribuyente_Info" message="tns:IWs_Contribuyente_Modificar_GetContribuyente_Info_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWs_Contribuyente/Modificar_GetContribuyente_InfoResponse" message="tns:IWs_Contribuyente_Modificar_GetContribuyente_Info_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWs_Contribuyente" type="tns:IWs_Contribuyente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContribuyente">
      <soap:operation soapAction="http://tempuri.org/IWs_Contribuyente/GetContribuyente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContribuyente_Info">
      <soap:operation soapAction="http://tempuri.org/IWs_Contribuyente/GetContribuyente_Info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar_GetContribuyente_Info">
      <soap:operation soapAction="http://tempuri.org/IWs_Contribuyente/Modificar_GetContribuyente_Info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ws_Contribuyente">
    <wsdl:port name="BasicHttpBinding_IWs_Contribuyente" binding="tns:BasicHttpBinding_IWs_Contribuyente">
      <soap:address location="http://localhost:1601/Ws_Contribuyente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>