Efirm/Efirm/Service References/WSEfirm_Contribuyente/Ws_Contribuyente2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FirmElect.Info" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FirmElect.Info" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftb_Contribuyente_Info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tb_Contribuyente_Info" nillable="true" type="tns:tb_Contribuyente_Info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftb_Contribuyente_Info" nillable="true" type="tns:ArrayOftb_Contribuyente_Info" />
  <xs:complexType name="tb_Contribuyente_Info">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsCliente" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsProveedor" type="xs:boolean" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fecha_Actualizacion_datos" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_Registro_web" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_transaccion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IdContribuyente" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail_secundario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_Contribuyente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Registrado_web" type="xs:boolean" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoContacto" type="tns:eTipo_Contacto" />
      <xs:element minOccurs="0" name="cedulaRuc_contri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tb_Contribuyente_Info" nillable="true" type="tns:tb_Contribuyente_Info" />
  <xs:simpleType name="eTipo_Contacto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Dr" />
      <xs:enumeration value="Sta" />
      <xs:enumeration value="Sr" />
      <xs:enumeration value="Srs" />
      <xs:enumeration value="Ms" />
      <xs:enumeration value="Prof" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eTipo_Contacto" nillable="true" type="tns:eTipo_Contacto" />
</xs:schema>