Efirm/Efirm/Service References/WSEfirm_Empresa/Ws_Empresa1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1601/Ws_Empresa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FirmElect.Info" />
  <xs:element name="GetEmpresas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MensajeErrorOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FirmElect.Info" minOccurs="0" name="GetEmpresasResult" nillable="true" type="q1:ArrayOftb_Empresa_Info" />
        <xs:element minOccurs="0" name="MensajeErrorOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FirmElect.Info" minOccurs="0" name="InfoEmpresa" nillable="true" type="q2:tb_Empresa_Info" />
        <xs:element minOccurs="0" name="MensajeErrorOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrabarDBResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="MensajeErrorOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresas_x_Alias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MensajeErrorOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresas_x_AliasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FirmElect.Info" minOccurs="0" name="GetEmpresas_x_AliasResult" nillable="true" type="q3:ArrayOftb_Empresa_Info" />
        <xs:element minOccurs="0" name="MensajeErrorOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresas_x_Url">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MensajeErrorOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresas_x_UrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FirmElect.Info" minOccurs="0" name="GetEmpresas_x_UrlResult" nillable="true" type="q4:ArrayOftb_Empresa_Info" />
        <xs:element minOccurs="0" name="MensajeErrorOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>