Efirm/Efirm/Service References/ServiceReference1/Ws_Comprobante.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Ws_Comprobante" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.16.131/FACTELEC/Ws_Comprobante.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.16.131/FACTELEC/Ws_Comprobante.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.16.131/FACTELEC/Ws_Comprobante.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FirmElect.Info" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWs_Comprobante_Lista_TipoComprobantes_InputMessage">
    <wsdl:part name="parameters" element="tns:Lista_TipoComprobantes" />
  </wsdl:message>
  <wsdl:message name="IWs_Comprobante_Lista_TipoComprobantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:Lista_TipoComprobantesResponse" />
  </wsdl:message>
  <wsdl:message name="IWs_Comprobante_consultar_listado_comprobantes_InputMessage">
    <wsdl:part name="parameters" element="tns:consultar_listado_comprobantes" />
  </wsdl:message>
  <wsdl:message name="IWs_Comprobante_consultar_listado_comprobantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultar_listado_comprobantesResponse" />
  </wsdl:message>
  <wsdl:message name="IWs_Comprobante_getXML_InputMessage">
    <wsdl:part name="parameters" element="tns:getXML" />
  </wsdl:message>
  <wsdl:message name="IWs_Comprobante_getXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:getXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IWs_Comprobante">
    <wsdl:operation name="Lista_TipoComprobantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWs_Comprobante/Lista_TipoComprobantes" message="tns:IWs_Comprobante_Lista_TipoComprobantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWs_Comprobante/Lista_TipoComprobantesResponse" message="tns:IWs_Comprobante_Lista_TipoComprobantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultar_listado_comprobantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWs_Comprobante/consultar_listado_comprobantes" message="tns:IWs_Comprobante_consultar_listado_comprobantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWs_Comprobante/consultar_listado_comprobantesResponse" message="tns:IWs_Comprobante_consultar_listado_comprobantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWs_Comprobante/getXML" message="tns:IWs_Comprobante_getXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWs_Comprobante/getXMLResponse" message="tns:IWs_Comprobante_getXML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWs_Comprobante" type="tns:IWs_Comprobante">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Lista_TipoComprobantes">
      <soap:operation soapAction="http://tempuri.org/IWs_Comprobante/Lista_TipoComprobantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultar_listado_comprobantes">
      <soap:operation soapAction="http://tempuri.org/IWs_Comprobante/consultar_listado_comprobantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getXML">
      <soap:operation soapAction="http://tempuri.org/IWs_Comprobante/getXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ws_Comprobante">
    <wsdl:port name="BasicHttpBinding_IWs_Comprobante" binding="tns:BasicHttpBinding_IWs_Comprobante">
      <soap:address location="http://192.168.16.131/FACTELEC/Ws_Comprobante.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>